<?xml version="1.0"?>
<!--
/**
 * Serverless
 *
 * Use serverless function to modify the Magento business logic.
 *
 * @package ImDigital\Serverless
 * @author Igor Ludgero Miura <igor@imdigital.com>
 * @copyright Copyright (c) 2023 Imagination Media (https://www.imdigital.com/)
 * @license Private
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Interfaces -->
    <preference for="ImDigital\Serverless\Api\Data\ServerlessFunctionInterface" type="ImDigital\Serverless\Model\ServerlessFunction" />
    <preference for="ImDigital\Serverless\Api\ServerlessFunctionRepositoryInterface" type="ImDigital\Serverless\Model\ServerlessFunctionRepository" />

    <!-- Log file -->
    <type name="ImDigital\Serverless\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <virtualType name="ImDigital\Serverless\Logger\Logger" type="Monolog\Logger">
        <arguments>
            <argument name="name" xsi:type="string">serverlessLogger</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">ImDigital\Serverless\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Inject log file -->
    <type name="ImDigital\Serverless\Model\ServerlessFunctionConfigRepository">
        <arguments>
            <argument name="logger" xsi:type="object">ImDigital\Serverless\Logger\Logger</argument>
        </arguments>
    </type>

    <!-- CLI Command -->
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="serverlessDeployConfig" xsi:type="object">ImDigital\Serverless\Console\Command\Deploy</item>
            </argument>
        </arguments>
    </type>

    <!-- Ui Data Provider for the admin grids -->
    <!-- Serverless Function -->
    <virtualType name="ServerlessFunctionGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">
                ImDigital\Serverless\Model\ResourceModel\ServerlessFunction\Collection
            </argument>
            <argument name="filterPool" xsi:type="object" shared="false">ServerlessFunctionGridDataProviderFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="ServerlessFunctionGridDataProviderFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter
                </item>
                <item name="fulltext" xsi:type="object">
                    Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="serverless_function_listing_data_source" xsi:type="string">
                    ImDigital\Serverless\Model\ResourceModel\ServerlessFunction\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="ImDigital\Serverless\Model\ResourceModel\ServerlessFunction\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">serverless_functions</argument>
            <argument name="resourceModel" xsi:type="string">ImDigital\Serverless\Model\ResourceModel\ServerlessFunction\Collection</argument>
        </arguments>
    </virtualType>

    <!--How to inject cloud provider -->
    <!--<type name="ImDigital\Serverless\Model\ServerlessFunctionConfigRepository">
        <arguments>
            <argument name="cloudProviders" xsi:type="array">
                <item name="aws" xsi:type="object">ImDigital\Serverless\Model\Cloud\Provider\Aws</item>
                <item name="azure" xsi:type="object">ImDigital\Serverless\Model\Cloud\Provider\Azure</item>
                <item name="gcp" xsi:type="object">ImDigital\Serverless\Model\Cloud\Provider\GoogleCloud</item>
            </argument>
        </arguments>
    </type>
    <type name="ImDigital\Serverless\Model\Config\Source\Provider">
        <arguments>
            <argument name="cloudProviders" xsi:type="array">
                <item name="gcp" xsi:type="array">
                    <item name="label" xsi:type="string">Google Cloud</item>
                    <item name="value" xsi:type="string">gcp</item>
                </item>
            </argument>
        </arguments>
    </type>-->
</config>
